<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
        <h2 class="mb-5">Education</h2>
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Specialist in Internet Systems Development</h3>
                <div class="subheading mb-3">Catholic University Center of Quixadá - Unicatólica</div>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">2016 - 2019</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Bachelor in Information Systems</h3>
                <div class="subheading mb-3">Catholic University Center of Quixadá - Unicatólica</div>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">2013 - 2016</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
            <div class="resume-content">
                <h3 class="mb-0">Computer Technician</h3>
                <div class="subheading mb-3">Great Fortress College</div>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">2013 - 2014</span>
            </div>
        </div>
    </div>
</section>
<hr class="m-0">