<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
    <div class="w-100">
        <h2 class="mb-5">Experiência</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Programador Pleno</h3>
                <div class="subheading mb-3">Universidade Estadual do Ceará - UECE</div>
                <p>
                    Levantamento e análise de requisitos; Desenvolvimento de software utilizando a linguagem JAVA 7/8, e
                    tecnologias como: Spring (Boot, MVC, Data, Security), Angular, Hibernate, Hibernate Search, JSF,
                    Primefaces e outras. Versionamentocom Git. Testes unitários. Atividades regidas pela metodologia
                    SCRUM.
                </p>

                <h6 class="resume-timeline-item-desc-heading font-weight-bold">Tecnologias utilizadas:</h6>
                <ul class="list-inline">
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Java</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Spring framework</span>
                    </li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Git</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Docker</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Hibernate</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">JSF</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Angular</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Primefaces</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Primeng</span></li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Outubro 2018 - Atualmente</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Técnico em Tecnologia da Informação</h3>
                <div class="subheading mb-3">Secretaria de Educação, Ciência, Tecnologia e Inovação</div>
                <p>
                    Desenvolvimento de sistemas web utilizando tecnologias como, JSF, JPA, CDI, Primefaces, Spring
                    Framework, Angular JS e Firebase.
                </p>
                <h6 class="resume-timeline-item-desc-heading font-weight-bold">Tecnologias utilizadas:</h6>
                <ul class="list-inline">
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Java</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">JSF</span>
                    </li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">JPA</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">CDI</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Primefaces</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Spring
                            Security</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Angular JS</span></li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Janeiro 2017 - Setembro 2018</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Desenvolvedor de Software Júnior</h3>
                <div class="subheading mb-3">Belong Tecnologia</div>
                <p>
                    Desenvolvedor web (AngularJS, Materialize e Firebase) e Android nativo.
                </p>
                <h6 class="resume-timeline-item-desc-heading font-weight-bold">Tecnologias utilizadas:</h6>
                <ul class="list-inline">
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">AngularJS</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Materialize</span>
                    </li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Firebase</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Android nativo</span></li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Agosto 2016 - Maio 2018</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
            <div class="resume-content">
                <h3 class="mb-0">Auxiliar em Tecnologia da Informação</h3>
                <div class="subheading mb-3">Centro Universitário Católica de Quixadá - Unicatólica</div>
                <p>
                    Desenvolvimento e implantação de TICs (Tecnologias de Informação e Comunicação) nos curso de
                    Graduação. Suporte aos Usuários do AVA (Ambiente Virtual de Aprendizagem) e Desenvolvimento web
                    front-end com JavaScript, Jquery, HTML5 e Bootstrap.
                </p>
                <h6 class="resume-timeline-item-desc-heading font-weight-bold">Tecnologias utilizadas:</h6>
                <ul class="list-inline">
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">JavaScript</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Jquery</span>
                    </li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML5</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Bootstrap</span></li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Setembro 2016 - Dezembro 2016</span>
            </div>
        </div>
    </div>
</section>
<hr class="m-0">