<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
    <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Linguagens &amp; ferramentas de programação</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item">
                <img src="https://img.icons8.com/color/48/000000/java-coffee-cup-logo.png" alt="Java" title="Java">
            </li>
            <li class="list-inline-item">
                <img src="https://img.icons8.com/color/48/000000/firebase.png" alt="Firebase" title="Firebase">
            </li>
            <li class="list-inline-item">
                <img src="assets/img/html5.png" width="36" alt="HTML5" title="HTML5">
            </li>
            <li class="list-inline-item">
                <img src="https://img.icons8.com/color/48/000000/css3.png" alt="CSS3" title="CSS3">
            </li>
            <li class="list-inline-item">
                <img src="https://img.icons8.com/color/48/000000/javascript.png" alt="JavaScript" title="JavaScript">
            </li>
            <li class="list-inline-item">
                <img src="https://img.icons8.com/color/48/000000/angularjs.png" alt="Angular" title="Angular">
            </li>
            <!--<li class="list-inline-item">
              <img src="https://img.icons8.com/color/48/000000/nodejs.png">
            </li>-->
        </ul>

        <div class="subheading mb-3">Fluxo de trabalho</div>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-check"></i>
                Equipes multifuncionais</li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Desenvolvimento ágil e Scrum</li>
        </ul>
    </div>
</section>
<hr class="m-0">