<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="conquests">
    <div class="w-100">
        <h2 class="mb-5">Conquests</h2>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                <a href="http://periodicos.ifpr.edu.br/index.php?journal=MundiETG&page=article&op=view&path%5B%5D=62"
                    target="_">
                    [Publication]</a> Development System Monitoring Heart Rate With
                Hardware Free Use of Mobile and Integration
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                [Patent] Online Question Creation Engine: MOCQ - BR512019001143-0</li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                [Course] Complete Android Development - Learn How to Build 18 Apps</li>
        </ul>
    </div>
</section>