<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="conquests">
    <div class="w-100">
        <h2 class="mb-5">Conquistas</h2>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                <span class="badge badge-primary">
                    Certificação</span>
                Scrum Foundation Professional Certificate
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                <a href="http://periodicos.ifpr.edu.br/index.php?journal=MundiETG&page=article&op=view&path%5B%5D=62"
                    target="_" title="ver publicação" class="badge badge-primary">
                    Publicação</a>
                Desenvolvimento de Sistema de Monitoramento da Frequência Cardíaca com uso De
                Hardware Livre e Integração Mobile
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                <a href="https://mocq.uece.br/" target="_" title="ver patente" class="badge badge-primary">Patente</a>
                Mecanismo online de Criação de Questões: MOCQ - BR512019001143-0</li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                <span class="badge badge-primary">Curso</span> Desenvolvimento Android Completo - Aprenda a criar 18
                Apps</li>
        </ul>
    </div>
</section>